

<div class="container">
	<div class="row">
		<div id="custom-search-input">
            <div class="input-group col-md-12">
                <input class="  search-query form-control" type="text" ng-model="searchartist" ng-change="searchArtist()" placeholder="Search for an artist">
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="button">
                        <span class=" glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
            <br>
            <div class="form-group">
                    <div class="input-group">
                        <div id="radioBtn" class="btn-group">
                            <a class="btn btn-primary btn-sm active" data-toggle="happy" data-title="artist">artist</a>
                            <a class="btn btn-primary btn-sm notActive" data-toggle="happy" data-title="album">album</a>
                        </div>
                        <input ng-value="{{searchtype}}" type="hidden" name="happy" id="happy">
                    </div>
            </div>

        </div>
	</div>
</div>

<hr />

<div class="container">
    <div class="row">

        <div class="col-sm-6 col-md-4 col-lg-3 mt-4" ng-repeat="artist in artists">
            <div class="card">
                <a class="media" ng-href="{{artist.external_urls.spotify}}" target="_blank">
                    <img class="card-img-top" ng-src="{{artist.images[0].url || 'https://placeholdit.imgix.net/~text?txtsize=60&txt=No%20Image%20found&w=640&h=640'}}">
                </a>
                    <div class="card-block">
                        <h4 class="card-title">{{artist.name}}</h4>
                        <div class="meta">
                            <i class="glyphicon glyphicon-heart" ng-if="artist.followers.total"></i> {{artist.followers.total}} 
                            <a ng-href="#!/detail/{{artist.id}}" class="label label-success" ng-repeat="artist in artist.artists">{{artist.name}}</a> 
                        </div>
                        <div class="card-text">
                            Yatin is a front end developer from india.
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="float-right">Popularity</span>
                        <span><i class="glyphicon glyphicon-star"></i> {{artist.popularity}}</span>
                    </div>
                
            </div>
        </div>
    </div>
</div>